/**
 *  File: styles.css
 *  Theme: biosmove | www.biosmove.com
 *  Author: Amun Ra
 *  2017
 *
 *
 */

/* ==========================================================================
   includes
   ========================================================================== */
   @font-face {
     font-family: 'Ptf Nordic';
     src: url('../fonts/ptf-nordic-rnd.eot');
     src: url('../fonts/ptf-nordic-rnd.eot?#iefix') format('embedded-opentype'),
          url('../fonts/ptf-nordic-rnd.woff') format('woff'),
          url('../fonts/ptf-nordic-rnd.ttf') format('truetype'),
          url('../fonts/ptf-nordic-rnd.svg#PTF-NORDIC-Round') format('svg');
   }


/* ==========================================================================
   Body
   ========================================================================== */



html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family: 'Ptf Nordic',sans-serif;
    font-size: 100%;
}

/* ==========================================================================
   Typography
   ========================================================================== */


   .PtfNordic {
     font-family: 'Ptf Nordic',sans-serif;
   }


/* ==========================================================================
   Translation
   ========================================================================== */


.rtl {
    text-align: right;
    font-family: 'Amiri', serif;
}

.rtl .page-title {
    font-family: 'Cairo', sans-serif !important;
}

.rtl .cairo {
    font-family: 'Cairo', sans-serif !important;
}

.rtl .navigation-menu ul li {
    float: right;
}

.rtl .content p {
    font-size: 120%;
}

.rtl .language-switcher {
    font-family: 'Cairo', sans-serif !important;
}

.ltr {
    text-align: left;
}



/* ==========================================================================
   Utils
   ========================================================================== */

svg{
  height: auto;
}
[v-cloak] {
  display: none;
}
